# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# OS-specific files
.DS_Store
Thumbs.db

# Virtual environments
venv/
env/
.env



# IDE specific
.vscode/
.idea/
.project
.pydevproject
.settings/
*.swp
*.swo

# Distribution / packaging
dist/
build/
*.egg-info/
